body {
  margin: 0px;
  background: -webkit-linear-gradient(#1A8FCF, #D1236A, #1A8FCF);
  background: -moz-linear-gradient(#1A8FCF, #D1236A, #1A8FCF);
  background: -o-linear-gradient(#1A8FCF, #D1236A, #1A8FCF);
  background: linear-gradient(45deg, #1A8FCF, #1A8FCF);
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  right: 8px;
  z-index: 99;
  position: absolute;
  color: #000000;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head__img {
  height: 10%;
  width: 10%;
  border-radius: 20rem;
}
.head__name {
  font-family: "Julius Sans One", sans-serif;
  color: #000;
  font-weight: 600;
}
